#AIChatbot {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.096);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.AIChatbot-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 400px;
  border: 5px solid #ccc;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 50;
  left: 0;
  padding: 10px;
}

#closeAIChatbot {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

#chatBox {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

#chatInputContainer {
  display: flex;
  gap: 5px;
}

#chatUserAIInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

#sendMessage {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
