
body { 
  font-family: Arial;
}


h1 {
    background-color: white;    
    padding: 12px;              
    border-radius: 12px;        
    width: fit-content;    
    margin: 0 auto;
}
h2 {
    background-color: white;    
    padding: 10px;              
    border-radius: 12px;        
    width: fit-content;  
    margin: 0 auto;
}
h3 {
    background-color: white;    
    padding: 10px;              
    border-radius: 12px;        
    width: fit-content;  
    margin: 0 auto;
}
p {
    background-color: white;    
    padding: 10px;              
    border-radius: 12px;        
    width: fit-content;  
    margin: 0 auto;
}
form {
    background-color: white;    
    padding: 10px;              
    border-radius: 12px;        
    width: fit-content;  
    margin: 0 auto;
}
nav {
    background-color: white;    
    padding: 10px;              
    border-radius: 12px;
    width: fit-content;     
    margin: 0 auto;
}

.content {
      flex: 1;
      padding: 20px;
    }


.sidebar-bg {
    width: 220px;               
    background-color: #b8b8b8;
    border-radius: 20px;
    border: 5px solid #ccc;
    padding: 20px;
    position: fixed;
    top: 20px;                  /* distance from top */
    left: 20px;                 /* distance from left */

    display: flex;
    flex-direction: column;
    align-items: center;        /* centers sidebar content horizontally */
}

.sidebar {
    width: 100%;                
    text-align: center;
    padding: 0;                 
    background: none;           
}

.sidebar a {
  display: block;       /* make them stack vertically */
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 4px 0;
  background-color: #444;
  border-radius: 6px;
 
}
.sidebar a:hover {
  background-color: #555;
  cursor: pointer;
}
.sidebar a.disabled {
  pointer-events: none;   /* makes it unclickable */
  background-color: #222;
  color: gray;
}
.sidebar img {
    display: block;
    margin: 0 auto 10px auto;   /* centers horizontally */
    width: 225px;
    height: 225px;
}

.rounded-square {
    width: 150px;               /* change width */
    height: 150px;              /* change height */
    background-color: #ffffff;  /* change color */
    border-radius: 20px;        /* change corner roundness */
    position: absolute;         /* allows positioning anywhere */
    top: 50px;                  /* distance from top */
    left: 50px;                 /* distance from left */

}
.input-group {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}